.container {
    height: 380px;
    width: 400px;
    border-width: 2px;
    border-style: solid;
}

.container1 {
    height: 200px;
    width: 80px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}

.container1 {
    height: 200px;
    width: 80px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}

.container2 {
    height: 200px;
    width: 160px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}

.footer {
    height: 130px;
    width: 370px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}

.container3 {
    height: 100px;
    width: 80px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}

.container4 {
    height: 100px;
    width: 130px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}